@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*all_start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;/*全部字體*/
}

html {
    scroll-behavior: smooth; /*滑動效果*/
}

body {
    background-color: #252627;
}

.container {
    padding: 0 100px 0 100px;/*上右下左*/
}
/*all_end*/

/*navbar_start*/
.navbar {
    background-color: #181810;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-height: 8vh;
    padding: 20px 0;
}

.navbar nav .lgo img {
    width: 200px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding: 10px 0 0 0;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-family: fantasy;
    font-size: 20px;
    color: #cfc9c9;
}

.navbar-items::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.navbar-items:hover::after {
    width: 100%;
    transition: width .3s;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #cfc9c9;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1700px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .lgo {
        margin: 0px auto;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 87.25px;
        background-color: #181810;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .burger .line1 {
        margin-top: 15px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/*navbar_end*/

/*main-info-section_start*/
.main-info-section {
    height: calc(100vh - 81.6px);
}

/*video_start*/
.fullscreen-video-wrap {
    width: 100%;
    height: calc(100vh - 81.6px);
    overflow: hidden;
    z-index: -1;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%
}
/*video_end*/

.header-overlay {
    height: calc(100vh - 81.6px);
    width: 100%;
    position: absolute;
    top: 87.25px;
    background: #222020;
    z-index: 1;
    opacity: 0.85;
}

.text-over {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    position: absolute;
    z-index: 2;
    padding: 0px 200px;
    height: calc(100vh - 81.6px);
    width: 100%;
    top: 87.25px;
}

.text {
    margin-top: 250px;
    text-align: center;
}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {
    display: inline-block;
    font-family: 'Bangers';
    font-size: 100px;
}

@media screen and (max-width: 1470px) {
    .text span {
        display: inline-block;
        font-family: 'Bangers';
        font-size: 80px;
    }
}

@media screen and (max-width: 1280px) {
    .text span {
        display: inline-block;
        font-family: 'Bangers';
        font-size: 60px;
    }
}

@media screen and (max-width: 1095px) {
    .text span {
        display: inline-block;
        font-family: 'Bangers';
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .text span {
        display: inline-block;
        font-family: 'Bangers';
        font-size: 45px;
    }
}

span:hover {
    color: #48CFAD;
    transition: all .5s;
}

span.name {
    color: #ED5565;
}

span.m-left {
    margin-left: -10px;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    border-radius: 50px;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: #fff;
}

.text a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

/*.show-heros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 100px;
}

.door-illusion {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.show-heros img {
    width: 250px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    position: relative;
    top: -240px;
}

.heros {
    margin-top: 200px;
    width: 150px;
}

.heros ul {
  list-style: none;
}

.heros ul li {
    margin-left: 10px;
    text-transform: uppercase;
    line-height: 3;
    text-align: right;
    letter-spacing: 2px;
}

.heros li a {
    font-size: .7rem;
    color: #999;
    font-weight: bold;
    transition: all 1s;
}

.heros li a:focus {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}*/
/*main-info-section_end*/

/*共用區_start*/
nav ul,
.main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.about h1,
.work h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.skills h1,
.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}
/*共用區_end*/

/*about_start*/
.about {
    height: 100vh;
    margin-top: 100px;
}

.about-me-info {
    height: 700px;
    max-width: 1500px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 70px 30px 30px 30px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.about-me-info .about-img {
    flex: 0 0 30%;
    max-width: 30%;
    /*background-color: green;/*#252627;*/
}

.about-me-info .about-img img {
    height: 482px;
    width: 400px;
    margin: 15% 0;
    display: block;
    border-radius: 10%;
}

.about-me-info .about-text {
    flex: 0 0 70%;
    max-width: 70%;
    /*background-color: blue;#252627;*/
}

.about .about-me-info .about-text h4 {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 20px;
    color: #e8dfec;
}

.about .about-me-info .about-text h6 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 20px;
    color: #b5b5b5;
}

.about .about-me-info .about-text h6 span {
    color: #f6a960;
}

.about .about-me-info .about-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #e8dfec;
}

.about .about-me-info .about-text .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.about .about-me-info .about-text .info .list {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.about .about-me-info .about-text .info .list label {
    padding-right: 10px;
    font-weight: 600;
    font-size: 20px;
    color: antiquewhite;
}

.about .about-me-info .about-text .social-links {

    padding-top: 50px;
}

.about .about-me-info .about-text .social-links a {
    height: 50px;
    width: 50px;
    background-color: #efefef;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #222020;
    line-height: 60px;
    text-align: center;
    margin: 0 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about .about-me-info .about-text .social-links a:hover {
    background-color: transparent;
    border: 2px solid #eb9940;
}

.about .about-me-info .about-text .social-links a .fa {
    color: #222020;
    font-size: 30px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about .about-me-info .about-text .social-links a:hover .fa{
    color: #eb9940;
}

.about .about-background-img {
    height: 700px;
    width: 500px;
    padding: 70px 30px 30px 30px;
    position: relative;
    top: -610px;
    left: 78%;
    z-index: 0;
    opacity: 0.55;
}
/*about_end*/

/*skill_start*/
.skills {
    height: 100vh;
}

.skills-info {
    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.skills-bar {
    width: 800px;
    margin: 60px auto;
    color: white;
}

.skills-bar li {
    list-style-type:none;
    margin: 50px 0 60px 0;
}

.skills-bar li .bar {
    background-color: #353b48;
    display: block;
    height: 25px;
    border: 10px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
    margin-top: 10px;
}

.skills-bar li .bar span {
    height: 20px;
    float: left;
    background-color: #2187e7;
}

.html {
    width: 90%;
    height: 200px;
    animation: html 2s;
}

.css {
    width: 75%;
    animation: css 2s;
}

.jquery {
    width: 65%;
    animation: jquery 2s;
}

.javascript {
    width: 65%;
    animation: javascript 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes jquery {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.skills .skills-background-img {
    height: 700px;
    width: 500px;
    padding: 70px 30px 0px 30px;
    position: relative;
    top: -670px;
    left: -100px;
    z-index: -1;
}

.skills .skills-background-img img {
    height: 700px;
    width: 612px;
    opacity: 0.55;
}
/*skill_end*/

/*work_start*/
.work {
    height: 100vh;
}

.work .overbox {
    position: relative;
    height: 800px;
    max-width: 1400px;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.work .overbox .midbox-1 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work .overbox .midbox-2 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work .overbox .box {
    position: relative;
    width: 25%;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
}

.work .overbox .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

.work .overbox .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.work .overbox .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#5B5B5B,#000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.work .overbox .box:hover .imgBx:before {
    opacity: 1;
}

.work .overbox .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .overbox .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.work .overbox .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.work .overbox .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.work .overbox .box:hover .content h2 {
    transform: translateY(0);
    transition-delay: 0.6s;
}

.work .overbox .box .content p {
    color: #fff;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 14px;
}

.work .overbox .box:hover .content p {
    transform: translateY(0);
    transition-delay: 0.7s;
}

.work .work-background-img {
    height: 700px;
    width: 500px;
    position: relative;
    top: -1010px;
    left: 65%;
    z-index: -1;
    opacity: 0.85;
}

.work .work-background-img img {
    height: 900px;
    width: 900px;
}
/*work_end*/

/*contact_start*/
.contact {
    height: 100vh;
}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child {
    width: 150px;
    background-color: #ED5565;
    border: none;
    cursor: pointer;
}

.contact .contact-background-img {
    height: 820px;
    width: 1100px;
    position: relative;
    top: -750px;
    z-index: -1;
    overflow: hidden;
    opacity: 0.85;
}

.contact .contact-background-img img {
    height: 1564px;
    width: 1100px;
    position: relative;
    top: -120px;

}
/*contact_end*/

/*footer_start*/
footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}
/*footer_end*/